/* src/app/components/confirm-dialog/confirm-dialog.component.css */
.confirm-dialog {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .confirm-dialog p {
    color: #fff;
    text-align: center;
    margin-top: 20%;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  